/* Webfonts */

@font-face {
    font-family: 'geomanistregular';
    src: url('../typefaces/Geomanist-Regular-Webfont/geomanist-regular-webfont.eot');
    src: url('../typefaces/Geomanist-Regular-Webfont/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../typefaces/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff2') format('woff2'),
         url('../typefaces/Geomanist-Regular-Webfont/geomanist-regular-webfont.woff') format('woff'),
         url('../typefaces/Geomanist-Regular-Webfont/geomanist-regular-webfont.ttf') format('truetype'),
         url('../typefaces/Geomanist-Regular-Webfont/geomanist-regular-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geomanistitalic';
    src: url('geomanist-regular-italic-webfont.eot');
    src: url('geomanist-regular-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('geomanist-regular-italic-webfont.woff2') format('woff2'),
         url('geomanist-regular-italic-webfont.woff') format('woff'),
         url('geomanist-regular-italic-webfont.ttf') format('truetype'),
         url('geomanist-regular-italic-webfont.svg#geomanistitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Color palette */

:root {
  --soft-green: #76d275;
  --softer-green: #63bf66;
  --dark-pastel-green: #57b25a;
  --darker-pastel-green: #54a857;
  --mid-green: #43a047;
  --deep-green: #00701a;
  --grey: #cfcfcf;
  --white: #f2f2f2;
}

/* Text styles */

h1 {
	font-family: 'geomanistregular';
	font-size: 121px;
	text-align: center;
	color: #000000;
}


h2 {
	font-family: 'geomanistregular';
	font-size: 36px;
	text-align: center;
	color: #000000;
}


h3 {
	font-family: 'geomanistregular';
	font-size: 22px;
	line-height: 1.25;
	text-align: center;
	color: #000000;
	margin-bottom: 23px;
}


h4 {
	font-family: 'geomanistregular';
	font-size: 16px;
	line-height: 1.25;
	text-align: center;
	color: #000000;
}

h5 {
	font-family: 'geomanistregular';
	font-size: 12px;
	text-align: center;
	color: #000000;
}

p {
	font-family: 'geomanistregular';
	font-size: 14px;
	line-height: 1.29;
	text-align: center;
	color: #000000;
}

caption {
	font-family: 'geomanistregular';
	font-size: 12px;
	line-height: 1.5;
	text-align: center;
	color: #000000;
}

.tile-title {
	font-family: 'geomanistregular';
	font-size: 20px;
	line-height: 0.65;
	text-align: center;
	color: #000000;
}

.counter {
	font-family: 'geomanistregular';
	font-size: 20px;
	text-align: center;
	color: #ffffff;
}

.pull-quote {
	font-family: 'geomanistregular';
	font-size: 26px;
	font-style: italic;
	line-height: 1.0;
	color: #ffffff;
}

.ital {
	font-family: 'geomanistitalic';
}

.sec-hed {
	color: var(--white, #f2f2f2)
}

html {
	width: 100%;
}

body {
	background-color: var(--soft-green, #76D275);
	transition: background-color .5s ease-out;
	/*height: 100vh;*/
	overflow-x: hidden;
}

#intro,#now,#then,#about-me,#connect {
	width: 100%;
	height: 100vh;
	position: relative;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 59px;
	z-index: 2;
	transition: background-color .5s ease-out;
	
}

body.project nav {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	background-color: var(--white);
}

#nav-logo {
	width: 37px;
	height: 37px;
	float: left;
	margin-left: 15px;
	margin-right: 10px;
	margin: 11px 10px 11px 15px;
}

nav p {
	float: left;
	font-family: 'geomanistregular';
	font-size: 16px;
	line-height: 1.25;
	color: #000000;
	margin: 18px 0;
}

#hamburger {
	width: 36px;
	float: right;
	margin: 15px;
}

#hamburger li {
	width: 100%;
	height: 6px;
	margin-bottom: 6px;
	border-radius: 10px;
	background-color: var(--deep-green, #00701a);
}

.content-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 70%;
	background-position: fixed;
}

#intro .content-container {
	margin-top: 0px;
}

#down-directional {
	position: fixed;
	bottom: 46px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

#down-label {
	margin-bottom: 28px;
}

#down-arrow {
	width: 50px;
	margin: 0 auto;
}

.project-tile {
	position: relative;
	margin-top: 23px;
	background-color: var(--grey);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.full-tile {
	width: 224px;
	height: 224px;
}

/* Connect */

#connect h4{
	margin-bottom: 26px;
}

#connect-options {
	margin: 0 auto;
	width: 60%;
}

#connect-options li {
	margin-bottom: 26px;
	text-align: left;
}

.connect-icon {
	display: inline-block;
	width: 45%;
	height: auto;
	min-height: 45px;
	margin-right: 18px;
	vertical-align: middle;
}

#connect h5 {
	display: inline-block;
	color: var(--white, #ffffff);
	text-align: left;
	vertical-align: middle;
}


/* Animations */
.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;

}
.animated{

            animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

-webkit-animation-duration:5s;
-moz-animation-duration:5s;
-ms-animation-duration:5s;
-o-animation-duration:5s;
animation-duration:5s;
}


@-webkit-keyframes bounce {
	0%, 8%, 16%, 24%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
	20% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 8%, 16%, 24%, 100% {-moz-transform: translateY(0);}
	12% {-moz-transform: translateY(-30px);}
	20% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 8%, 16%, 24%, 100% {-o-transform: translateY(0);}
	12% {-o-transform: translateY(-30px);}
	20% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 8%, 16%, 24%, 100% {transform: translateY(0);}
	12% {transform: translateY(-30px);}
	20% {transform: translateY(-15px);}
}